body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
text-align: center;
   top: 35%;
}
.error{
	color: #D8000C;
    background-color: #FFD2D2;
}

.success{
	color: #4F8A10;
    background-color: #DFF2BF;
}

.header-content{
	width: 100%;
}
.header-title-text{
	/*float: right;*/
	display:inline-block;
	margin: 16px;
    font-size: 30px;
    font-weight: bold;
}
.header-button-add {
	float: right;
	margin: 18px;
	
}

/** List **/

.container{
	margin-left:10px;
	margin-right: 10px;
}

.grid-container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}

.grid-item {
	color: #3a3a3a;
	font-size: 20px;
	border-radius: 6px;
}
.grid-item-link{
	top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px;
    text-decoration: none;
}
.preview-image{
	width:100%;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: blureffect 1s ease-in ;
  animation: blureffect 1s ease-in ;
  transition: all .1s ease-in-out;

}

/* Zoom in Keyframes */
@-webkit-keyframes blureffect {
 0% { -webkit-filter: blur(10px);}
50% { -webkit-filter: blur(5px);}
100% { -webkit-filter: blur(0px);}
}
.preview-title{
	padding:10px;
}
/** DETAIL **/

.detail-container{
    font-style: normal;
    font-size: 18px;
    line-height: 1.6em;
    color: #3a3a3a;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.detail-summary{
	padding: 0 10px;
}
.detail-summary p{
	text-indent: 0;
    margin: 0 0 26px 0;
}
.detail-title{
	margin: 52px 0 26px 0;
    font-size: 31px;
}
/** MODAL **/
/* The Modal (background) */
.modal {
    display:block;  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

label {
    display: block;
    font-weight: bold;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:flex;
}

.my-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.my-link:hover {
    background-color: #111;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit],input[type=button]  {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     display: block;
    margin-top:6px;
}

input[type=submit]:hover,input[type=button]:hover {
    background-color: #45a049;
}
input[type=submit]:disabled,input[type=button]:disabled {
	background-color: #cccccc;
	color: #666666;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer-content {
  position: absolute;
  bottom:0;
  width:100%;
  height: 1.5rem;
  background: #333;
  text-align: center;
  color: white;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
  
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}